.opcoes_produto {
    background-color: var(--cor4);
    color: var(--cor5); 
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.325);
    border-radius: 0rem .6rem .6rem 0rem;
    text-align: left;

    position: absolute;
    left: 196px;
    bottom: 25px;
    z-index: 1;

    height: 23rem;
    width: 11rem;
    padding: 1rem;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.cabecalho_opcoes {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.cabecalho_opcoes h3 {
    margin: 10px 0px;
}

.quantidade_botao {
    display: flex;
    justify-content: space-between;
}

.quantidade_botao > input {
    width: 32%;
    height: 85%;
}

.quantidade_botao > button {
    width: 52%;
    height: 100%;
}

.comprar {
    background-color: var(--cor0);
    color: var(--cor4);
    box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.194);
    text-align: center;
    font-weight: bold;
    font-size: .8rem;

    width: 100%;
    border: 0;
    border-radius: .6rem;
    padding: 1.2rem;
    cursor: pointer;
}

.comprar:hover {
    background-color: var(--cor1);
}