.containerPrincipal {
    display: grid;
	justify-content: center;
}

.tituloProdutos {
	font-size: 20px;
    padding: 30px 10px;
    color: var(--cor1);
}

.carrossel {
	display: flex;
	justify-content: center;
}