.containerPrincipal {
    display: grid;
	justify-content: center;
}

.tituloProdutos {
	font-size: 20px;
	color: var(--cor1);
	padding: 20px;
}

.carrossel {
	display: flex;
	justify-content: center;
}